@charset "UTF-8";

html, body, li, ul {
  margin: 0;
  padding: 0;
}

#searchForm {
  height: 4em;
  padding: 1em 5%;
  width: 100%;
  background-color: #4b4b4b;
  border-bottom: #fff solid 5px;
  position: fixed;
  top: 0;
  z-index: 10;
}
#searchForm input, #searchForm select {
  font-size: 130%;
}
#searchForm label {
  color: #fff;
  font-size: 130%;
}

#search {
  font-size: 130%;
  padding: 0 1%;
}

#hotelData {
  list-style-type: none;
  position: relative;
  top: 5em;  
}

.hotelData {
  margin: 0;
  padding: 0;
  border-bottom: 3px #000 solid;
  width: 100%;
  background-color: #85dffb;
}

.hotelName {
  margin: 0 1em auto;
  padding-top: 1em;
  width: 70%;
  color: #4b4b4b;
}

.hotelInfoUrl {
  display: block;
  width: 5em;
  font-size: 140%;
  margin: 1%;
  position: relative;
  left: 80%;
}
.hotelInfoUrl a {
  color: #545454;
}
.hotelInfoUrl a:visited {
  color: #545454;
}

.hotelMinCharge {
  display: block;
  width: 15%;
  margin: 2% 5%;
  font-size: 130%;
}

.nearestStation {
  display: block;
  width: 30%;
  margin: 2% 5%;
}

.access {
  display: block;
  width: 80%;
  margin: 2% 5%;
}

.post {
  margin-bottom: 2%;
  padding: 1% 4%;
  border: 0;
  background-color: #36f;
  color: #fff;
  font-size: 150%;
  position: relative;
  left: 80%;
}
